<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Master's Student at
      <a class="underline-link" href="https://engineering.nyu.edu/" target="_blank">New York University </a>
      studying Informatics. I am also a Research Assistant jointly affiliated to
      <a class="underline-link" href="https://wp.nyu.edu/riskeconlab/" target="_blank">RiskEcon Lab for Decision
        Metrics</a>
      &amp;
      <a class="underline-link" href="https://wp.nyu.edu/arpl/" target="_blank">Agile Robotics &amp; Perception Lab</a>.
      Previously, I was a researcher at
      <a class="underline-link" href="https://www.iitm.ac.in/" target="_blank">IIT, Madras</a>
      &amp;
      <a class="underline-link" href="http://www.iitb.ac.in/" target="_blank">IIT, Bombay</a>.
    </p>

    {% include employment-status.html %}
  </div>
</section>